<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
    <component name="NodeJsMochaPackageDirSetting">
        <data>$PROJECT_DIR$/{{config.mochaPackage}}</data>
    </component>
    <component name="RunManager">
      {{#each config.modules}}
        <configuration default="false" name="{{name}}" type="mocha-javascript-test-runner" factoryName="Mocha">
            <node-options />
            <node-interpreter>{{nodePath}}</node-interpreter>
            <working-directory>$PROJECT_DIR$/{{relativePath}}</working-directory>
            <pass-parent-env>true</pass-parent-env>
            <envs>
                <env name="DEBUG" value="wix:*" />
            </envs>
            <ui>bdd</ui>
            <extra-mocha-options />
            <test-kind>PATTERN</test-kind>
            <test-pattern>test/**/*.spec.js test/**/*.it.js test/**/*.e2e.js</test-pattern>
            <method>
              <option name="NpmBeforeRunTask" enabled="true">
                <package-json value="$PROJECT_DIR$/{{relativePath}}/package.json" />
                <command value="run" />
                <scripts>
                  <script value="build" />
                </scripts>
                <node-interpreter value="project" />
                <envs />
              </option>
            </method>
        </configuration>
      {{/each}}
    </component>
  <component name="PropertiesComponent">
    <property name="JavaScriptLanguageLevel" value="{{config.languageLevel}}" />
  </component>
</project>