<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
    <component name="NodeJsMochaPackageDirSetting">
        <data>$PROJECT_DIR$/{{config.mochaPackage}}</data>
    </component>
    <component name="RunManager">
      {{#each config.modules}}
        {{#each this.mocha}}
            <configuration default="false" name="{{name}}" type="mocha-javascript-test-runner" factoryName="Mocha">
                <node-options />
                <node-interpreter>{{../nodePath}}</node-interpreter>
                <working-directory>$PROJECT_DIR$/{{../relativePath}}</working-directory>
                <pass-parent-env>true</pass-parent-env>
                {{#if this.environmentVariables}}
                    <envs>
                    {{#each this.environmentVariables}}
                        <env name="{{@key}}" value="{{this}}" />
                    </envs>
                    {{/each}}
                    {{/if}}
                <ui>bdd</ui>
                <extra-mocha-options>{{this.extraOptions}}</extra-mocha-options>
                <test-kind>{{this.testKind}}</test-kind>
                <test-pattern>{{this.testPattern}}</test-pattern>
                <method />
            </configuration>
        {{/each}}
      {{/each}}
    </component>
  <component name="PropertiesComponent">
    <property name="JavaScriptLanguageLevel" value="{{config.languageLevel}}" />
  </component>
</project>